<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guotai.servermonitorspringboot.mapper.AgentProcessMapper">
    <insert id="insertAgentProcess" parameterType="thriftmonitor.AgentProcess">
    insert into monitor.agent_process(ip,process_name,process_id,process_mem,process_start_time) values (#{ip},#{process_name},#{process_id},#{process_mem},#{process_start_time});
    </insert>

    <select id="getLatestAgentProcessByIP" resultType="thriftmonitor.AgentProcess" parameterType="java.lang.String">
    select * from monitor.agent_process where ip = #{ip} order by create_time desc limit 0,1;
    </select>

</mapper>