
.layout-has-boxed-canvas .app-layout-canvas {
	margin: 0 auto;
	max-width: 1170px;
	background-color: #f9f9f9;
}


/* Layout has drawer */
@media screen and (min-width: 992px) {
	.layout-has-drawer .app-layout-header,
	.layout-has-drawer .app-layout-content,
	.layout-has-drawer .app-layout-footer {
		padding-left: 0px;
	}
}


/* Layout has fixed header */
.layout-has-fixed-header .app-layout-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.layout-has-fixed-header .app-layout-header {
	right: auto;
	left: auto;
	width: 100%;
	max-width: 1170px;
}

.layout-has-fixed-header .app-layout-content {
	padding-top: 0px;
}


/* Card */
.card {
	margin-bottom: 24px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
}

.card:not([class*="bg-"]) {
	background-color: #fff;
}

/* Card links */
a.card {
	/*display: block;*/
	font-weight: inherit;
}

a.card:not(.bg-inverse) {
	color: inherit;
}

a.card:not(.bg-inverse):hover {
	color: inherit;
}

/* Card header */
.card-header {
	/*display: table;*/
	width: 100%;
	margin: 0;
	padding: 24px 24px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
}

.card-header > * {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.card.text-center .card-header > *,
.card-header.text-center > * {
	margin: 0 auto;
}

.bg-inverse .card-actions > li > a:not(.label), .bg-inverse

.card.card-themed > .card-header .card-actions > li > span {
	color: #fff;
}


.card.card-act-hidden .card-block {
	display: none;
}

/* Card block */
.card-block {
	padding: 20px 20px;
}

.card-block:first-child {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.card-block > :first-child,
.card-block > .row:first-child > [class*="col-"] > :first-child {
	margin-top: 0;
}

.card-block > :last-child {
	margin-bottom: 0;
}

.card-header + .card-block {
	padding-top: 10px;
}

/* Card image */
.card-img {
	border-radius: 3px;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
}

/* Card image caps */
.card-img-top {
	border-radius: 3px 3px 0 0;
}

.card-img-bottom {
	border-radius: 0 0 3px 3px;
}

/* Profile card (used in profile page) */
.card-profile-img {
	height: 240px;
}

.card-profile-block {
	position: relative;
}


@media screen and (min-width: 768px) {
	.card-profile-block .img-avatar {
		position: absolute;
		bottom: 24px;
		left: 24px;
		-webkit-transform: none;
		        transform: none;
	}
}

/* Card with nav tabs */
.card > .nav-tabs {
	border-bottom: none;
}

.card > .nav-tabs:not(.nav-stacked) {
	background-color: rgba(0, 20, 35, 0.038);
}

.card > .nav-tabs:first-child {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.card > .nav-tabs.nav-tabs-right > li {
	float: right;
}

.card > .nav-tabs > li {
	margin-bottom: 0;
}

.card > .nav-tabs > li > a {
	margin-right: 0;
	border: 1px solid transparent !important;
}

.card > .nav-tabs > li > a:hover {
	color: #7dc855;
	background-color: transparent;
	border-color: transparent;
}

.card > .nav-tabs > li.active > a, .card > .nav-tabs > li.active > a:hover, .card > .nav-tabs > li.active > a:focus {
	background-color: #fff;
	box-shadow: inset 0 2px #7dc855;
}

.card > .nav-tabs > li.active > a:hover, .card > .nav-tabs > li.active > a:focus {
	color: inherit;
}

.card > .nav-tabs > li:not(.active) > a.inactive {
	color: #333333;
}

.card > .nav-tabs > li:not(.active) > a.inactive:hover, .card > .nav-tabs > li:not(.active) > a.inactive:focus {
	box-shadow: none;
}

.card > .nav-tabs:first-child > li > a {
	border-radius: 0;
}

.card > .nav-tabs:first-child > li:first-child > a {
	border-top-left-radius: 3px;
}

.card > .nav-tabs:first-child > li:last-child > a {
	border-top-right-radius: 3px;
}

.card > .nav-tabs.nav-tabs-alt {
	background-color: transparent;
	border-bottom: 1px solid rgba(0, 20, 35, 0.038);
}

.card > .nav-tabs.nav-tabs-alt > li > a {
	margin-bottom: -1px;
	-webkit-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.card > .nav-tabs.nav-tabs-alt > li > a:hover {
	box-shadow: inset 0 -2px #7dc855;
}

.card > .nav-tabs.nav-tabs-alt > li.active > a, .card > .nav-tabs.nav-tabs-alt > li.active > a:hover, .card > .nav-tabs.nav-tabs-alt > li.active > a:focus {
	box-shadow: inset 0 -2px #7dc855;
}

.card > .nav-tabs.nav-stacked > li.active > a, .card > .nav-tabs.nav-stacked > li.active > a:hover, .card > .nav-tabs.nav-stacked > li.active > a:focus {
	box-shadow: inset -2px 0 #7dc855;
}

.card .card-block.tab-content {
	overflow: hidden;
}

/* Image 100% width */
.img-full {
	width: 100%;
}

/* Avatar */
.img-avatar {
	display: inline-block !important;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
}

.img-avatar.img-avatar-32 {
	width: 32px;
	height: 32px;
	line-height: 32px;
}

.img-avatar.img-avatar-48 {
	width: 48px;
	height: 48px;
	line-height: 48px;
}

.img-avatar.img-avatar-96 {
	width: 96px;
	height: 96px;
	line-height: 96px;
}

.img-avatar.img-avatar-128 {
	width: 128px;
	height: 128px;
	line-height: 128px;
}

.img-avatar-thumb {
	margin: 4px;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.38);
}

/* Image Box */
.img-box .img-avatar {
	position: absolute;
	padding: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
}

.img-box .img-text {
	padding-left: 90px;
}

/* Image Thumb */
.img-thumb {
	padding: 5px;
	background-color: #fff;
	border-radius: 2px;
}

/* Image Link */
.img-link {
	display: block;
	width: 100%;
}

/* Background images */
.bg-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	left: 0;
	-webkit-transition: none;
	transition: none;
	top: 0;
	width: 100%;
}

.bg-img.overlay:after {
	background-color: #222222;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: .38;
}

/* Banners */
.banner {
	position: relative;
}

.banner[data-height="300"] {
	height: 300px;
}

.banner[data-height="400"] {
	height: 400px;
}

.banner[data-height="500"] {
	height: 500px;
}

.banner[data-height="600"] {
	height: 600px;
}

.banner-caption {
	white-space: normal;
	z-index: 3;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	bottom: 50%;
	top: auto;
	-webkit-transform: translateY(50%);
	        transform: translateY(50%);
}

.banner-caption .container {
	position: relative;
	height: 100%;
}

/* Margin */
.m-a-0 {
	margin: 0 !important;
}

.m-t-0 {
	margin-top: 0 !important;
}

.m-r-0 {
	margin-right: 0 !important;
}

.m-b-0 {
	margin-bottom: 0 !important;
}

.m-l-0 {
	margin-left: 0 !important;
}

.m-x-0 {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.m-y-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.m-a {
	margin: 16px !important;
}

.m-t {
	margin-top: 16px !important;
}

.m-r {
	margin-right: 16px !important;
}

.m-b {
	margin-bottom: 16px !important;
}

.m-l {
	margin-left: 16px !important;
}

.m-x {
	margin-right: 16px !important;
	margin-left: 16px !important;
}

.m-y {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

.m-x-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}

.m-a-xs {
	margin: 4px !important;
}

.m-t-xs {
	margin-top: 4px !important;
}

.m-r-xs {
	margin-right: 4px !important;
}

.m-b-xs {
	margin-bottom: 4px !important;
}

.m-l-xs {
	margin-left: 4px !important;
}

.m-x-xs {
	margin-right: 4px !important;
	margin-left: 4px !important;
}

.m-y-xs {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

.m-a-sm {
	margin: 8px !important;
}

.m-t-sm {
	margin-top: 8px !important;
}

.m-r-sm {
	margin-right: 8px !important;
}

.m-b-sm {
	margin-bottom: 8px !important;
}

.m-l-sm {
	margin-left: 8px !important;
}

.m-x-sm {
	margin-right: 8px !important;
	margin-left: 8px !important;
}

.m-y-sm {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.m-a-md {
	margin: 24px !important;
}

.m-t-md {
	margin-top: 24px !important;
}

.m-r-md {
	margin-right: 24px !important;
}

.m-b-md {
	margin-bottom: 24px !important;
}

.m-l-md {
	margin-left: 24px !important;
}

.m-x-md {
	margin-right: 24px !important;
	margin-left: 24px !important;
}

.m-y-md {
	margin-top: 24px !important;
	margin-bottom: 24px !important;
}

.m-a-lg {
	margin: 48px !important;
}

.m-t-lg {
	margin-top: 48px !important;
}

.m-r-lg {
	margin-right: 48px !important;
}

.m-b-lg {
	margin-bottom: 48px !important;
}

.m-l-lg {
	margin-left: 48px !important;
}

.m-x-lg {
	margin-right: 48px !important;
	margin-left: 48px !important;
}

.m-y-lg {
	margin-top: 48px !important;
	margin-bottom: 48px !important;
}

/* Padding */
.p-a-0 {
	padding: 0 !important;
}

.p-t-0 {
	padding-top: 0 !important;
}

.p-r-0 {
	padding-right: 0 !important;
}

.p-b-0 {
	padding-bottom: 0 !important;
}

.p-l-0 {
	padding-left: 0 !important;
}

.p-x-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.p-y-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.p-a {
	padding: 16px !important;
}

.p-t {
	padding-top: 16px !important;
}

.p-r {
	padding-right: 16px !important;
}

.p-b {
	padding-bottom: 16px !important;
}

.p-l {
	padding-left: 16px !important;
}

.p-x {
	padding-right: 16px !important;
	padding-left: 16px !important;
}

.p-y {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}

.p-a-md {
	padding: 24px !important;
}

.p-t-md {
	padding-top: 24px !important;
}

.p-r-md {
	padding-right: 24px !important;
}

.p-b-md {
	padding-bottom: 24px !important;
}

.p-l-md {
	padding-left: 24px !important;
}

.p-x-md {
	padding-right: 24px !important;
	padding-left: 24px !important;
}

.p-y-md {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}

.p-a-lg {
	padding: 48px !important;
}

.p-t-lg {
	padding-top: 48px !important;
}

.p-r-lg {
	padding-right: 48px !important;
}

.p-b-lg {
	padding-bottom: 48px !important;
}

.p-l-lg {
	padding-left: 48px !important;
}

.p-x-lg {
	padding-right: 48px !important;
	padding-left: 48px !important;
}

.p-y-lg {
	padding-top: 48px !important;
	padding-bottom: 48px !important;
}

.p-a-xl {
	padding: 80px !important;
}

.p-t-xl {
	padding-top: 80px !important;
}

.p-r-xl {
	padding-right: 80px !important;
}

.p-b-xl {
	padding-bottom: 80px !important;
}

.p-l-xl {
	padding-left: 80px !important;
}

.p-x-xl {
	padding-right: 80px !important;
	padding-left: 80px !important;
}

.p-y-xl {
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}

/* Positioning */
.pos-r {
	position: relative !important;
}

.pos-a {
	position: absolute !important;
}

.pos-f {
	position: fixed !important;
}

.pos-f-t {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

/* Shift element to top */
.shift-top {
	margin-top: -75px;
}

@media screen and (min-width: 768px) {
	.shift-top-sm {
		margin-top: -75px;
	}
}

@media screen and (min-width: 992px) {
	.shift-top-md {
		margin-top: -75px;
	}
}

@media screen and (min-width: 1200px) {
	.shift-top-lg {
		margin-top: -75px;
	}
}

/* Sizing */
.w-5 {
	width: 5%;
}

.w-10 {
	width: 10%;
}

.w-15 {
	width: 15%;
}

.w-20 {
	width: 20%;
}

.w-25 {
	width: 25%;
}

.w-30 {
	width: 30%;
}

.w-35 {
	width: 35%;
}

.w-40 {
	width: 40%;
}

.w-45 {
	width: 45%;
}

.w-50 {
	width: 50%;
}

.w-55 {
	width: 55%;
}

.w-60 {
	width: 60%;
}

.w-65 {
	width: 65%;
}

.w-70 {
	width: 70%;
}

.w-75 {
	width: 75%;
}

.w-80 {
	width: 80%;
}

.w-85 {
	width: 85%;
}

.w-90 {
	width: 90%;
}

.w-95 {
	width: 95%;
}

.w-100 {
	width: 100%;
}

/* Vertical aligning */
.vcenter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

@media screen and (min-width: 768px) {
	.vcenter-sm {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

@media screen and (min-width: 992px) {
	.vcenter-md {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

@media screen and (min-width: 1200px) {
	.vcenter-lg {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

/* Responsive text-aligning */
.text-xs-left {
	text-align: left;
}

.text-xs-right {
	text-align: right;
}

.text-xs-center {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.text-sm-left {
		text-align: left;
	}
	.text-sm-right {
		text-align: right;
	}
	.text-sm-center {
		text-align: center;
	}
}

@media screen and (min-width: 992px) {
	.text-md-left {
		text-align: left;
	}
	.text-md-right {
		text-align: right;
	}
	.text-md-center {
		text-align: center;
	}
}

@media screen and (min-width: 1200px) {
	.text-lg-left {
		text-align: left;
	}
	.text-lg-right {
		text-align: right;
	}
	.text-lg-center {
		text-align: center;
	}
}

/* Borders */
.b-a {
	border: 1px solid rgba(0, 20, 35, 0.07);
}

.b-t {
	border-top: 1px solid rgba(0, 20, 35, 0.07);
}

.b-r {
	border-right: 1px solid rgba(0, 20, 35, 0.07);
}

.b-b {
	border-bottom: 1px solid rgba(0, 20, 35, 0.07);
}

.b-l {
	border-left: 1px solid rgba(0, 20, 35, 0.07);
}

/* Shadow */
.shadow-0 {
	box-shadow: none;
}

.shadow-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.07);
}

.shadow-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.07);
}

.shadow-3 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.07);
}

.shadow-4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.07);
}

.shadow-5 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.07);
}

/* Hover shadow effect */
.hover-shadow-1 {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hover-shadow-1:hover {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.07);
}

.hover-shadow-2 {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hover-shadow-2:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.07);
}

.hover-shadow-3 {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hover-shadow-3:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.07);
}

.hover-shadow-4 {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hover-shadow-4:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.07);
}

.hover-shadow-5 {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hover-shadow-5:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.07);
}

/* Icons sizing */
.fa-1-5x {
	font-size: 1.5em;
}

.fa-2x {
	font-size: 2em;
}

.fa-3x {
	font-size: 3em;
}

.fa-4x {
	font-size: 4em;
}

.fa-5x {
	font-size: 5em;
}

.fa-6x {
	font-size: 6em;
}

.fa-7x {
	font-size: 7em;
}

.fa-8x {
	font-size: 8em;
}

.fa-9x {
	font-size: 9em;
}

.fa-10x {
	font-size: 10em;
}

/* SlimScroll */
.slimScrollBar {
	right: 0 !important;
	border-radius: 3px !important;
}

/* Bootstrap Notify */
.alert[data-notify='container'] {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* DataTables.js */
table.dataTable {
	margin-bottom: 16px !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
	font-family: Ionicons;
	opacity: 1;
	right: 1em;
}

table.dataTable thead .sorting.text-center:after,
table.dataTable thead .sorting_asc.text-center:after,
table.dataTable thead .sorting_desc.text-center:after {
	left: 50%;
	right: auto;
	-webkit-transform: translate3d(-50%, 0, 0);
	        transform: translate3d(-50%, 0, 0);
}

table.dataTable thead .sorting:after {
	content: '\f361\00a0\f363';
	display: inline-block;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

table.dataTable thead .sorting.text-center:after {
	-webkit-transform: translate3d(-50%, 0, 0) rotate(90deg);
	        transform: translate3d(-50%, 0, 0) rotate(90deg);
}

table.dataTable thead .sorting_asc:after {
	content: '\f365';
}

table.dataTable thead .sorting_desc:after {
	content: '\f35f';
}

.table.dataTable thead > tr > th.text-center {
	padding-right: 1em;
}

.table.dataTable thead > tr > th {
	padding-left: 1em;
}

div.dataTables_info {
	padding-top: 10px;
}

div.dataTables_paginate ul.pagination {
	margin: 10px 0 5px;
}

/* Draggable Cards (jQueryUI) */
.draggable-handler {
	cursor: move;
}

.draggable-placeholder {
	background-color: rgba(0, 20, 35, 0.038);
	border: 1px dashed #ccc;
}

/* Highlight.js */
pre.pre-sh {
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.hljs {
	background-color: #282d33;
	color: #fff;
	padding: 16px 24px 24px;
}

.bash .hljs-variable, .cs .hljs-preprocessor, .cs .hljs-preprocessor .hljs-keyword, .css .hljs-attr_selector, .css .hljs-value, .ini .hljs-keyword, .ini .hljs-value, .javascript .hljs-tag .hljs-title, .makefile .hljs-constant, .nginx .hljs-variable, .scss .hljs-variable, .xml .hljs-tag {
	color: #969896;
}

/* DropzoneJS */
.dropzone {
	min-height: 200px;
	background-color: #f9f9f9;
	border: 2px dashed #bbb;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.dropzone .dz-message {
	margin: 65px 0;
	font-size: 16px;
	font-style: italic;
	color: #888;
}

.dropzone:hover {
	background-color: #f9f9f9;
	border-color: #7dc855;
}

.dropzone:hover .dz-message {
	color: #7dc855;
}

/* Bootstrap Datepicker */
.js-datepicker {
	width: 100%;
	margin-bottom: 16px;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border-radius: 3px;
}

.datepicker {
	z-index: 1051 !important;
}

.input-daterange .input-group-addon {
	min-width: 30px;
	color: #434343;
	background-color: #f9f9f9;
	border-color: #edeeef;
	line-height: inherit;
}

.datepicker table tr td,
.datepicker table tr th {
	border-radius: 3px;
}

.datepicker table tr td.today {
	color: #000;
	background-color: #ffe7a4;
	border-color: #ffcc3e;
}

.datepicker table tr td.today:hover, .datepicker table tr td.today:focus, .datepicker table tr td.today.focus, .datepicker table tr td.today:active, .datepicker table tr td.today.active,
.open > .datepicker table tr td.today.dropdown-toggle {
	color: #000;
	background-color: #ffdf88;
	border-color: #ffc526;
}

.datepicker table tr td.today:active, .datepicker table tr td.today.active,
.open > .datepicker table tr td.today.dropdown-toggle {
	background-image: none;
}

.datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:focus, .datepicker table tr td.today.disabled.focus, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today[disabled], .datepicker table tr td.today[disabled]:hover, .datepicker table tr td.today[disabled]:focus, .datepicker table tr td.today[disabled].focus, .datepicker table tr td.today[disabled]:active, .datepicker table tr td.today[disabled].active,
fieldset[disabled] .datepicker table tr td.today,
fieldset[disabled] .datepicker table tr td.today:hover,
fieldset[disabled] .datepicker table tr td.today:focus,
fieldset[disabled] .datepicker table tr td.today.focus,
fieldset[disabled] .datepicker table tr td.today:active,
fieldset[disabled] .datepicker table tr td.today.active {
	background-color: #ffe7a4;
	border-color: #ffcc3e;
}

.datepicker table tr td.today .badge {
	color: #ffe7a4;
	background-color: #000;
}

.datepicker table tr td.today.focused {
	background-color: #ffd971;
}

.datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:active {
	background-color: #ffe7a4;
	color: #777777;
}

.datepicker table tr td.selected, .datepicker table tr td.selected.highlighted {
	color: #fff;
	background-color: #eeeeee;
	border-color: #777777;
	text-shadow: none;
}

.datepicker table tr td.selected:hover, .datepicker table tr td.selected:focus, .datepicker table tr td.selected.focus, .datepicker table tr td.selected:active, .datepicker table tr td.selected.active,
.open > .datepicker table tr td.selected.dropdown-toggle, .datepicker table tr td.selected.highlighted:hover, .datepicker table tr td.selected.highlighted:focus, .datepicker table tr td.selected.highlighted.focus, .datepicker table tr td.selected.highlighted:active, .datepicker table tr td.selected.highlighted.active,
.open > .datepicker table tr td.selected.highlighted.dropdown-toggle {
	color: #fff;
	background-color: #e0e0e0;
	border-color: #6b6b6b;
}

.datepicker table tr td.selected:active, .datepicker table tr td.selected.active,
.open > .datepicker table tr td.selected.dropdown-toggle, .datepicker table tr td.selected.highlighted:active, .datepicker table tr td.selected.highlighted.active,
.open > .datepicker table tr td.selected.highlighted.dropdown-toggle {
	background-image: none;
}

.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover, .datepicker table tr td.selected.disabled:focus, .datepicker table tr td.selected.disabled.focus, .datepicker table tr td.selected.disabled:active, .datepicker table tr td.selected.disabled.active, .datepicker table tr td.selected[disabled], .datepicker table tr td.selected[disabled]:hover, .datepicker table tr td.selected[disabled]:focus, .datepicker table tr td.selected[disabled].focus, .datepicker table tr td.selected[disabled]:active, .datepicker table tr td.selected[disabled].active,
fieldset[disabled] .datepicker table tr td.selected,
fieldset[disabled] .datepicker table tr td.selected:hover,
fieldset[disabled] .datepicker table tr td.selected:focus,
fieldset[disabled] .datepicker table tr td.selected.focus,
fieldset[disabled] .datepicker table tr td.selected:active,
fieldset[disabled] .datepicker table tr td.selected.active, .datepicker table tr td.selected.highlighted.disabled, .datepicker table tr td.selected.highlighted.disabled:hover, .datepicker table tr td.selected.highlighted.disabled:focus, .datepicker table tr td.selected.highlighted.disabled.focus, .datepicker table tr td.selected.highlighted.disabled:active, .datepicker table tr td.selected.highlighted.disabled.active, .datepicker table tr td.selected.highlighted[disabled], .datepicker table tr td.selected.highlighted[disabled]:hover, .datepicker table tr td.selected.highlighted[disabled]:focus, .datepicker table tr td.selected.highlighted[disabled].focus, .datepicker table tr td.selected.highlighted[disabled]:active, .datepicker table tr td.selected.highlighted[disabled].active,
fieldset[disabled] .datepicker table tr td.selected.highlighted,
fieldset[disabled] .datepicker table tr td.selected.highlighted:hover,
fieldset[disabled] .datepicker table tr td.selected.highlighted:focus,
fieldset[disabled] .datepicker table tr td.selected.highlighted.focus,
fieldset[disabled] .datepicker table tr td.selected.highlighted:active,
fieldset[disabled] .datepicker table tr td.selected.highlighted.active {
	background-color: #eeeeee;
	border-color: #777777;
}

.datepicker table tr td.selected .badge, .datepicker table tr td.selected.highlighted .badge {
	color: #eeeeee;
	background-color: #fff;
}

.datepicker table tr td.active, .datepicker table tr td.active.highlighted {
	color: #fff;
	background-color: #7dc855;
	border-color: #7dc855;
	text-shadow: none;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active.focus, .datepicker table tr td.active:active, .datepicker table tr td.active.active,
.open > .datepicker table tr td.active.dropdown-toggle, .datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active.highlighted:focus, .datepicker table tr td.active.highlighted.focus, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.highlighted.active,
.open > .datepicker table tr td.active.highlighted.dropdown-toggle {
	color: #fff;
	background-color: #6dc140;
	border-color: #6fc243;
}

.datepicker table tr td.active:active, .datepicker table tr td.active.active,
.open > .datepicker table tr td.active.dropdown-toggle, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.highlighted.active,
.open > .datepicker table tr td.active.highlighted.dropdown-toggle {
	background-image: none;
}

.datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled.focus, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active[disabled], .datepicker table tr td.active[disabled]:hover, .datepicker table tr td.active[disabled]:focus, .datepicker table tr td.active[disabled].focus, .datepicker table tr td.active[disabled]:active, .datepicker table tr td.active[disabled].active,
fieldset[disabled] .datepicker table tr td.active,
fieldset[disabled] .datepicker table tr td.active:hover,
fieldset[disabled] .datepicker table tr td.active:focus,
fieldset[disabled] .datepicker table tr td.active.focus,
fieldset[disabled] .datepicker table tr td.active:active,
fieldset[disabled] .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.disabled, .datepicker table tr td.active.highlighted.disabled:hover, .datepicker table tr td.active.highlighted.disabled:focus, .datepicker table tr td.active.highlighted.disabled.focus, .datepicker table tr td.active.highlighted.disabled:active, .datepicker table tr td.active.highlighted.disabled.active, .datepicker table tr td.active.highlighted[disabled], .datepicker table tr td.active.highlighted[disabled]:hover, .datepicker table tr td.active.highlighted[disabled]:focus, .datepicker table tr td.active.highlighted[disabled].focus, .datepicker table tr td.active.highlighted[disabled]:active, .datepicker table tr td.active.highlighted[disabled].active,
fieldset[disabled] .datepicker table tr td.active.highlighted,
fieldset[disabled] .datepicker table tr td.active.highlighted:hover,
fieldset[disabled] .datepicker table tr td.active.highlighted:focus,
fieldset[disabled] .datepicker table tr td.active.highlighted.focus,
fieldset[disabled] .datepicker table tr td.active.highlighted:active,
fieldset[disabled] .datepicker table tr td.active.highlighted.active {
	background-color: #7dc855;
	border-color: #7dc855;
}

.datepicker table tr td.active .badge, .datepicker table tr td.active.highlighted .badge {
	color: #7dc855;
	background-color: #fff;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active.highlighted:hover {
	color: #fff;
	background-color: #7dc855;
	border-color: #7dc855;
}

.datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active:hover.focus, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover.active,
.open > .datepicker table tr td.active:hover.dropdown-toggle, .datepicker table tr td.active.highlighted:hover:hover, .datepicker table tr td.active.highlighted:hover:focus, .datepicker table tr td.active.highlighted:hover.focus, .datepicker table tr td.active.highlighted:hover:active, .datepicker table tr td.active.highlighted:hover.active,
.open > .datepicker table tr td.active.highlighted:hover.dropdown-toggle {
	color: #fff;
	background-color: #6dc140;
	border-color: #6fc243;
}

.datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover.active,
.open > .datepicker table tr td.active:hover.dropdown-toggle, .datepicker table tr td.active.highlighted:hover:active, .datepicker table tr td.active.highlighted:hover.active,
.open > .datepicker table tr td.active.highlighted:hover.dropdown-toggle {
	background-image: none;
}

.datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover.disabled:hover, .datepicker table tr td.active:hover.disabled:focus, .datepicker table tr td.active:hover.disabled.focus, .datepicker table tr td.active:hover.disabled:active, .datepicker table tr td.active:hover.disabled.active, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active:hover[disabled]:hover, .datepicker table tr td.active:hover[disabled]:focus, .datepicker table tr td.active:hover[disabled].focus, .datepicker table tr td.active:hover[disabled]:active, .datepicker table tr td.active:hover[disabled].active,
fieldset[disabled] .datepicker table tr td.active:hover,
fieldset[disabled] .datepicker table tr td.active:hover:hover,
fieldset[disabled] .datepicker table tr td.active:hover:focus,
fieldset[disabled] .datepicker table tr td.active:hover.focus,
fieldset[disabled] .datepicker table tr td.active:hover:active,
fieldset[disabled] .datepicker table tr td.active:hover.active, .datepicker table tr td.active.highlighted:hover.disabled, .datepicker table tr td.active.highlighted:hover.disabled:hover, .datepicker table tr td.active.highlighted:hover.disabled:focus, .datepicker table tr td.active.highlighted:hover.disabled.focus, .datepicker table tr td.active.highlighted:hover.disabled:active, .datepicker table tr td.active.highlighted:hover.disabled.active, .datepicker table tr td.active.highlighted:hover[disabled], .datepicker table tr td.active.highlighted:hover[disabled]:hover, .datepicker table tr td.active.highlighted:hover[disabled]:focus, .datepicker table tr td.active.highlighted:hover[disabled].focus, .datepicker table tr td.active.highlighted:hover[disabled]:active, .datepicker table tr td.active.highlighted:hover[disabled].active,
fieldset[disabled] .datepicker table tr td.active.highlighted:hover,
fieldset[disabled] .datepicker table tr td.active.highlighted:hover:hover,
fieldset[disabled] .datepicker table tr td.active.highlighted:hover:focus,
fieldset[disabled] .datepicker table tr td.active.highlighted:hover.focus,
fieldset[disabled] .datepicker table tr td.active.highlighted:hover:active,
fieldset[disabled] .datepicker table tr td.active.highlighted:hover.active {
	background-color: #7dc855;
	border-color: #7dc855;
}

.datepicker table tr td.active:hover .badge, .datepicker table tr td.active.highlighted:hover .badge {
	color: #7dc855;
	background-color: #fff;
}

/* Bootstrap Colorpicker */
.colorpicker.dropdown-menu {
	min-width: 130px;
}

/* jQuery Tags Input */
div.tagsinput {
	padding: 6px 12px;
	border-color: #edeeef;
	border-radius: 3px;
}

div.tagsinput input {
	font-family: inherit;
	font-weight: 400;
	padding-top: 0;
	padding-bottom: 0;
	height: 22px;
	line-height: 22px;
}

.form-material div.tagsinput {
	padding-right: 0;
	padding-left: 0;
	border: none;
	border-bottom: 1px solid #edeeef;
}

div.tagsinput span.tag {
	padding: 2px 6px;
	height: 22px;
	line-height: 22px;
	color: #fff;
	font-family: inherit;
	font-weight: 500;
	background-color: #aacfee;
	border-color: #9fcaec;
	border-radius: 3px;
}

div.tagsinput span.tag a {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.5);
}

div.tagsinput span.tag a:hover {
	color: rgba(255, 255, 255, 0.75);
}

/* Select2 */
.select2-container .select2-selection--single {
	height: 34px;
}

.select2-container .select2-dropdown {
	border-color: #edeeef;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.select2-container--default .select2-selection--single {
	border-color: #edeeef;
	border-radius: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-left: 12px;
	line-height: 34px;
}

.form-material .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px;
}

.form-material .select2-container--default .select2-selection--single {
	border: none;
	border-bottom: 1px solid #edeeef;
	border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #aaa;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #edeeef;
	border-radius: 3px;
}

.form-material .select2-container--default .select2-selection--multiple, .form-material
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: none;
	border-bottom: 1px solid #edeeef;
	border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered,
.select2-container--default.select2-container--focus .select2-selection--multiple .select2-selection__rendered {
	padding-right: 12px;
	padding-left: 12px;
}

.form-material .select2-container--default .select2-selection--multiple .select2-selection__rendered, .form-material
.select2-container--default.select2-container--focus .select2-selection--multiple .select2-selection__rendered {
	padding-left: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	height: 22px;
	line-height: 22px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	background-color: #aacfee;
	border-color: #9fcaec;
	border-radius: 3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	margin-right: 5px;
	color: rgba(255, 255, 255, 0.5);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: rgba(255, 255, 255, 0.75);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: #edeeef;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #7dc855;
}

.select2-container--default .select2-search--inline .select2-search__field {
	padding-right: 0;
	padding-left: 0;
	font-family: Roboto, Arial, sans-serif;
	box-shadow: none;
}

.form-material .select2-container--default .select2-search--inline .select2-search__field {
	padding-left: 0;
}

.select2-search--dropdown .select2-search__field {
	padding: 6px 12px;
	font-family: Roboto, Arial, sans-serif;
	border-radius: 3px;
	box-shadow: none;
}

/* Slick slider plugin */
.slick-next,
.slick-prev {
	display: none;
	/*visibility: hidden;*/
}

.slick-dots {
	margin: 0;
	padding: 16px 0;
	position: static;
}

.card-block .slick-dots {
	margin-bottom: -16px 24px 24px;
}

.slick-dots li {
	vertical-align: middle;
}

.slick-dots li button:before {
	color: rgba(0, 20, 35, 0.38);
	font-size: 8px;
	-webkit-transition: opacity .15s ease-out;
	transition: opacity .15s ease-out;
}

.slick-dots li.slick-active button:before {
	color: #7dc855;
}

/* jQuery Sparkline */
.jqstooltip {
	box-sizing: content-box;
	border: none !important;
	background-color: rgba(0, 0, 0, 0.75) !important;
}

/* Easy Pie Chart
.pie-chart {
	position: relative;
	display: inline-block;

	> span {
		margin-top: -4px;
		right: 0;
		left: 0;
		text-align: center;
	}
}

/* Flot Charts */
.flot-tooltip {
	position: absolute;
	display: none;
	color: #fff;
	background: rgba(0, 0, 0, 0.75);
	padding: 4px 8px;
}

.flot-pie-label {
	color: #fff;
	font-size: 13px;
	padding: 4px 8px;
	text-align: center;
}

.legend > table td {
	padding: 3px 4px;
	font-size: 14px;
}

.legend > table .legendColorBox > div {
	border: 0 !important;
	padding: 0;
}

.legend > table .legendColorBox > div > div {
	border-radius: 50%;
}

/* HTML5 Placeholder */
.placeholder {
	color: #aaa;
}

/*# sourceMappingURL=maps/app.css.map */
